/*************************************************
*
*  Stylesheet
*
*  Color-1: #6B949F;
*  Color-2: #022A35;
*
*
*************************************************/


/*-----------------------------------------------
*   Base
-----------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    text-transform: uppercase;
}




/*-----------------------------------------------

main-section

-----------------------------------------------*/

.main-section {

    height: 900px;
    background: url(../images/BG-1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/*-----------------------------------------------

footer-section

-----------------------------------------------*/

.footer-section{
	height: 100px;
	background-color: #022A35;

}