body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color:black;
}

#self {

  position: relative;
  width: 250px;
  height: 250px;
  background: #eddaeb;

}

#self img {

  display: block;
}


/* Set black background color, white text and some padding */

footer {
  background-color: #555;
  color: white;
  padding: 15px;
}
